<div>
  <table>
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Flight Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
        <td>{{ flight.flightNumber}}</td>
        <td>{{flight.flightName}}</td>
      </tr>
    </tbody>
  </table>
</div>
Flightname:<br>
<form novalidate>
  <input type="input" name="flightName" [(ngModel)]="flight.flightName">
  <br><br>
  Flightnumber:<br>
  <input type="input" name="flightNumber" [(ngModel)]="flight.flightNumber">
  <br><br>
<input type="submit" value="Submit" (click)="onSubmit()">
</form>
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
