<form>
    Select a user:
    <select [(ngModel)]="booking.userEntity.userId" name="user">
      <option *ngFor="let user of users" value="{{user.userId}}">{{user.userName}}</option>
    </select>
  Select a flight:
      <select [(ngModel)]="booking.flightEntity.id" name="flight">
        <option *ngFor="let flight of flights" value="{{flight.id}}">{{flight.flightName}}</option>
        </select>
        <br> 
        Amount:<br>
        <input type="input" name="amount" [(ngModel)]="booking.totalAmount">
        <br><br>
        Select a financialInstrument:
      <select [(ngModel)]="booking.financialInstrument" name="financialInstrument">
          <option value="Cash">Cash</option>
          <option value="Card">Card</option>
        </select>
        <br>
        <input type="date" name="travellingDate" [(ngModel)]="booking.travellingDate">
<input type="submit" value="Submit" (click)="onSubmit()">
</form>